<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.gap.mobile"
	version 	= "1.0.0">

	<name>Global Alerting Platform: Mobile</name>

	<description>
		A client app for Global Alerting Platform
	</description>

	<author href="http://elneilios.github.com"
		email="neil.alderson@aws.net">
		Neil Alderson
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
